/*
.App-logo {
  height: 40vmin;
}



/*.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


table {
  text-align: right;

}


.button {
  display: inline-block;
  width: 15em;
  font-size: 80%;
  color: white;
  text-shadow:none;
  text-decoration: none;
  text-align: center;
  line-height: 1.1;
  white-space: pre-line;
  padding: 0.7em 0;
  border: 1px solid;
  border-color: none;
  border-radius: 6px;
  outline: none;
  background: none;
  box-shadow: inset rgba(156, 137, 137, 0.5) 1px 1px;
}
.button:first-line{
  font-size: 170%;
  font-weight: 700;
}
.button:hover {
  background: rgba(156, 137, 137, 0.5) 
  
}
  .button:active {
  color: rgb(255,255,255);
  border-color: black ;
}

img {
  padding: 0.7em 0;
}*/